# Ignore virtual environments
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm specific
.idea/

# MacOS
.DS_Store

# VS Code
.vscode/

# Environment variables files
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

__pycache__/
playground/